/* header
 -----------------------------------------------------*/
.blk-nav {
  position: relative;
  overflow: hidden;
}
.blk-nav .main-nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 4rem;
  height: 100%;
  min-height: 30vw;
  z-index: 5;
  background: #54A008;
}
.blk-nav .main-nav .inner {
  background: #54A008;
}
.blk-nav .main-nav .inner .nav {
  position: fixed;
  z-index: 3;
  top: 0px;
  left: -22rem;
  background: #cee1d7;
  height: 100%;
  width: 22rem;
}
.blk-nav .main-nav .inner .nav.active-menu {
  left: 4rem;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.blk-nav .main-nav .inner .nav .inner-nav {
  width: 100%;
  position: relative;
}
.blk-nav .main-nav .inner .nav .inner-nav .logo {
  position: absolute;
  width: 45%;
  top: 1rem;
  left: 4rem;
}
.blk-nav .main-nav .inner .nav .inner-nav .logo img {
  width: 100%;
}
.blk-nav .main-nav .inner .nav .inner-nav .menu-close-icon {
  position: absolute;
  top: 1.5rem;
  right: 1.9rem;
  width: 1.1rem;
  cursor: pointer;
}
.blk-nav .main-nav .inner .nav ul {
  margin: 6rem 0px 0px 0px;
}
.blk-nav .main-nav .inner .nav ul li {
  display: block;
}
.blk-nav .main-nav .inner .nav ul li a {
  text-decoration: underline;
  text-transform: uppercase;
  color: #707070;
  display: block;
  font-weight: 600;
  padding: 0.9rem 1.9rem;
}
.blk-nav .main-nav .inner .nav ul li a:hover {
  color: #EA351A;
}
.blk-nav .main-nav .inner .nav .button-register {
  display: inline-block;
  border: 3px solid #F7A376;
  background: #EA351A;
  color: #FFF;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 20vw;
  padding: 3% 5%;
  margin: 3rem 1.5rem 0 1.5rem;
  font-weight: bold;
}
.blk-nav .main-nav .inner .nav .button-register:hover {
  color: yellow;
  background: #d1513d;
}
.blk-nav .main-nav .inner .icon-menu {
  position: relative;
}
.blk-nav .main-nav .inner .icon-menu .icon {
  position: absolute;
  top: 1vw;
  left: 10%;
  width: 80%;
  cursor: pointer;
}
.blk-nav .main-nav .inner .register-now {
  position: absolute;
  bottom: 0px;
  background: red;
  width: 100%;
}
.blk-nav .main-nav .inner .register-now a {
  writing-mode: tb-rl;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
       -o-transform: rotate(-180deg);
          transform: rotate(-180deg);
  text-align: center;
  display: inline-block;
  width: 100%;
  position: relative;
  font-size: 1.3vw;
  padding: 2vw 1vw 2vw 0;
  font-weight: 700;
}
.blk-nav .main-nav .inner .register-now a:hover {
  color: yellow;
}
.blk-nav .banner-head .img-m img {
  width: 100%;
}
.blk-nav .banner-head .logo {
  position: absolute;
  left: 50%;
  top: 2vw;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 16%;
  display: block;
}
.blk-nav .banner-head .logo img {
  width: 100%;
}
.blk-nav .banner-head .text {
  position: absolute;
  left: 50%;
  top: 11vw;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: bold;
  width: 80%;
  text-align: center;
}
.blk-nav .banner-head .text strong {
  display: block;
  color: #FFF;
}
.blk-nav .banner-head .text .hl-1 {
  font-size: 2.7vw;
  line-height: 1.2em;
}
.blk-nav .banner-head .text .hl-2 {
  font-size: 5.5vw;
  line-height: 1.2em;
}
.blk-nav .banner-head .text .hl-3 {
  font-size: 2.8vw;
}
.blk-nav .banner-head .text .more {
  margin: 2vw 0 0;
  display: inline-block;
  font-size: -webkit-calc(3px + 1.3vw);
  font-size: calc(3px + 1.3vw);
  background: #54A008;
  padding: 1vw 3vw;
  border-radius: 8vw;
}
.blk-nav .banner-head .text .more:hover {
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
       -o-transform: scale(1.02);
          transform: scale(1.02);
}
@media screen and (max-width: 768px) {
  .blk-nav .main-nav {
    width: 100%;
    height: 12vw;
    min-height: 0;
  }
  .blk-nav .main-nav .inner .icon-menu {
    width: auto;
    display: inline-block;
  }
  .blk-nav .main-nav .inner .icon-menu .icon {
    height: 12vw;
    top: 0rem;
    position: relative;
    vertical-align: top;
  }
  .blk-nav .main-nav .inner .nav {
    display: block;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #328141;
  }
  .blk-nav .main-nav .inner .nav.active-menu {
    left: 0rem;
  }
  .blk-nav .main-nav .inner .nav .inner-nav {
    padding: 27vw 0px 0px 0px;
    margin: 0;
    text-align: center;
  }
  .blk-nav .main-nav .inner .nav .inner-nav ul {
    margin: 0;
  }
  .blk-nav .main-nav .inner .nav .inner-nav ul li a {
    color: #707070;
    text-decoration: none;
    text-align: center;
    padding: 0.6rem 1.9rem;
    color: #FFF;
  }
  .blk-nav .main-nav .inner .nav .inner-nav .menu-close-icon {
    top: 8vw;
    right: 11vw;
  }
  .blk-nav .main-nav .inner .nav .inner-nav .button-register {
    float: none;
    display: inline-block;
    border: 3px solid #F7A376;
    background: #EA351A;
    color: #FFF;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    border-radius: 20vw;
    padding: 0.7% 2%;
    margin: 13vw auto 0 auto;
  }
  .blk-nav .main-nav .inner .nav .inner-nav .logo {
    width: 40%;
    top: 5vw;
    left: 47%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    position: absolute;
  }
  .blk-nav .main-nav .inner .nav .inner-nav .logo a {
    display: block;
  }
  .blk-nav .main-nav .inner .nav .inner-nav .logo img {
    width: 100%;
  }
  .blk-nav .main-nav .inner .register-now {
    position: relative;
    float: right;
    width: auto;
    height: 12vw;
  }
  .blk-nav .main-nav .inner .register-now a {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
    writing-mode: inherit;
    height: 12vw;
    line-height: 12vw;
    padding: 0 2rem;
    font-size: 3.5vw;
    display: block;
  }
  .blk-nav .banner-head .logo {
    top: 16vw;
    width: 41%;
  }
  .blk-nav .banner-head .text {
    width: 95%;
    top: 48vw;
  }
  .blk-nav .banner-head .text .hl-1 {
    font-size: 7vw;
  }
  .blk-nav .banner-head .text .hl-2 {
    font-size: 10vw;
  }
  .blk-nav .banner-head .text .hl-3 {
    font-size: 6vw;
  }
  .blk-nav .banner-head .text .more {
    margin: 14vw 0 0;
    font-size: 6.5vw;
    background: #54A008;
    border-radius: 15vw;
    padding: 3vw 11vw;
  }
}

/* module css 01
 -----------------------------------------------------*/
.md-desktop {
  display: block;
}

.md-mb {
  display: none;
}

@media screen and (max-width: 768px) {
  .md-desktop {
    display: none;
  }
  .md-mb {
    display: block;
  }
}
.smd-more {
  padding: 0.5vw 2vw;
  display: inline-block;
  border-radius: 3vw;
  font-weight: bold;
  background: #54A008;
}
.smd-more:hover {
  color: #FFF;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.smd-more.bg-orange {
  background: #FFAB00;
}
@media screen and (max-width: 768px) {
  .smd-more {
    padding: 3vw 8vw;
    border-radius: 6vw;
    font-size: 3.9vw;
  }
}

.color-red {
  color: #F14E26;
}

.color-white {
  color: #FFF;
}

.color-green {
  color: #54A008;
}

.h-container {
  width: 84%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .h-container {
    width: 90%;
  }
}

.smd-title {
  text-align: center;
  margin: 0px 0px 1vw;
}
.smd-title h3 {
  font-size: 3.8vw;
  font-weight: 700;
  line-height: 1.2em;
  margin: 0px 0px 0.2vw;
}
@media screen and (min-width: 768px) {
  .smd-title h3 span {
    display: block;
  }
}
.smd-title h4 {
  font-size: 2vw;
  margin: 0px 0px 0.5vw;
}
.smd-title strong {
  display: block;
}
@media screen and (max-width: 768px) {
  .smd-title h3 {
    font-size: -webkit-calc(9vw + 1px);
    font-size: calc(9vw + 1px);
    margin: 0vw 0px 2.5vw;
  }
  .smd-title h4 {
    font-size: -webkit-calc(4vw + 1px);
    font-size: calc(4vw + 1px);
  }
  .smd-title strong {
    margin: 0px 0px 2vw;
  }
}
